<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Collaboardation</a></h1>
    <ul id="uservalue" data-user=<%= JSON.stringify(locals.user && locals.user.name) %>>
      <% if (locals.user)  { %>
        <li>Welcome, <%= locals.user.name %></li>
        <li><a href="/logout">Log out</a></li>
        <!-- Settings button and dropdown wrapped in an <li> element -->
       
      <% } else {  %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li> 
        <li id="settings-container">
          <button id="settings-button">
            <img src="settings-icon.png" alt="Settings Icon">
          </button>
          <div class="settings-dropdown">
            <ul id="pages-container">
              <!-- Page links will be added here dynamically -->
            </ul>
          </div>
        </li>
      <% } %>
    </ul>
  </nav>
</body>
</html>