<%- include('partials/header'); -%>
   
    <h2>Home</h2>
    <% if (user) { %>
    <h2>hello
           <%= user.name %>
        <% } else{} %>
    </h2>
    
    <a href="/rooms" >Collaboardate</a>
    <%- include('partials/footer'); -%>
