<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header'); -%>
    <div class="join-container">
      <header = class="join-header">
        <h1> Collababoard!</h1>
      </header>
      <main class="join-main">
        <form action="chat.ejs">
          <div class="form-control">
            <label for ="room"> Collab aoard a Server:</label>
             <input
              type = "text"
              name = "room"
              id="room"
              placeholder="Enter the Server's name"
              required
              />
            <button type ="submit" class="btn"> Join </button>
          </div>
        </form>
      </main>
    </div>
    <h1>hello</h1>
   <canvas id = "canvas"  width="300" height="300"> </canvas>
   <script src="../Source/drawing.js"></script> <!this is where the script is from its source>
   <%- include('partials/footer'); -%>
  