<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/chat.css">
</head>
<body>
  <nav>
    <h1><a href="/">Collaboardation</a></h1>
    <ul id = "uservalue" data-user=<%= JSON.stringify(locals.user && locals.user.name) %>>
      <% if (locals.user)  {%>
        <li>Welcome, <%= user.name %></li>
        <li><a href="/logout">Log out</a></li>
        <%} else {  %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        <% }  %>
    </ul>
  </nav>
<div class="chat-container">
    <header class = "chat-header">
        <h1><i class="fas fa-comments"></i> Collaboardation </h1>
        <a href="/" class = "btn">Leave Room</a>
    </header>
        <main class="chat-main">
          <div class="chat-sidebar">
            <h2 id="room-name"></h2>
            <h3><i class="fas fa-user"></i> Online</h3>
            <ul id="users">
            </ul>
          </div>
          <div id="chat-messages" class="chat-messages">
          </div>
        </main>
        
        <div class="chat-form-container">
          <form id="chat-form" >
            <input
              id="msg"
              type="text"
              name="msg"
              placeholder="Type a Message"
              required
              autocomplete="off"
            />
            <button class="btn-plane" type="submit"><i class="fas fa-paper-plane"></i> </button>
          </form>
        </div>
      </div>
    
<script>
    // Set a JavaScript variable with the user.name value
    const username = "<%= user.name %>";
  </script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.2/qs.min.js" integrity="sha512-vCegEXqPUYpZsTGz2lk0jaQ1psxtFeniVJACAXhMVxuoYa/N4nZkjoVFOxLwP7uGeQOoemiz7DQrIpRTj4IBPw==" crossorigin="anonymous"></script>
<script src="main.js"></script> 
<footer>Copyright 2022 </footer>

</body>
</html>