<%- include('partials/header'); -%>
<body class="chat">
<div class="chat-container">
    <header class = "chat-header">
        <h1><i class="fas fa-comments"></i> Collaboardation </h1>
        <button href= "/rooms" class="btn" id="group-leaving-button">Leave Room</button>
    </header>
    <div id='container'>
      <button id='voiceChat'>Join Voice Chat</button>
      <button id='whiteboard'>Open Whiteboard</button>
      </div>
      <div id="video-container" style="display: none;">
        <video id="video" autoplay playsinline></video>
      </div>
      <script src='/js/voiceChat.js'></script>
      <script src='/js/whiteboard.js'></script>
      <script src='/js/videoCall.js'></script>
      
        <main class="chat-main">
          <div class="chat-sidebar">
            <h2 id="room-name"></h2>
            <h3><i class="fas fa-user"></i> Online</h3>
            <ul id="users">
            </ul>
          </div>
          <div class="chat-group-messages" class="chat-messages">
          </div>
        </main>
        
        <div class="chat-group-form-container">
          <form id="chat-group-form">
            <input
              id="msg"
              type="text"
              placeholder="Type a Message"
              required
              autocomplete="off"
            />
            <button class="btn-plane"><i class="fas fa-paper-plane"></i> </button>
          </form>
        </div>
      </div>


      <div class="error" id="error-container">
        <div class="error-content">
          <span class="error-message">An error occurred: Something went wrong.</span>
          <button class="error-close-button" onclick="closeError()">X</button>
        </div>
      </div>


      
      <div class="group-info-btn">
      <button class="btn" id="group-sharing-button">Invite</button>
      </div>

      <li class="group-details">
        <div class="close-btn">
          <button class="btn" id="close-button" >×</button>
        </div>
          <div class="qr-code" >
            <img id="qrcode-image" alt="QR Code">
          </div>
          <div class="group-url" >
            <p>Group URL:</p>
            <input type="text" style="color: black;" id="groupURL" readonly>
            <button id="copyButton" style="cursor: pointer;">Copy</button>
          </div>
        </li>


<script>
    // Set a JavaScript variable with the user.name value
    const username = "<%= user.name %>";
    const userID = "<%= user._id %>";
  </script>
<script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.2/qs.min.js" integrity="sha512-vCegEXqPUYpZsTGz2lk0jaQ1psxtFeniVJACAXhMVxuoYa/N4nZkjoVFOxLwP7uGeQOoemiz7DQrIpRTj4IBPw==" crossorigin="anonymous"></script>
<script type="module" src="./partials/Notifs.js"></script> 
<script src="groupchat.js"></script> 
<footer>Copyright 2022 </footer>
</body>
<%- include('partials/footer'); -%>