<%- include('partials/header'); -%>
<body class="chat">
<div class="chat-container">
    <header class = "chat-header">
        <h1><i class="fas fa-comments"></i> Collaboardation </h1>
        <button href= "/rooms" class="btn" id="personal-leaving-button">Leave Room</button>
    </header>
        <main class="chat-main">
          <div class="chat-sidebar">
            <h2 id="room-name"></h2>
            <h3><i class="fas fa-user"></i> Online</h3>
            <ul id="users">
            </ul>
          </div>
          <div class="chat-name-messages" class="chat-messages">
          </div>
        </main>
        
        <div class="chat-name-form-container">
          <form id="chat-name-form">
            <input
              id="msg"
              type="text"
              placeholder="Type a Message"
              required
              autocomplete="off"
            />
            <button class="btn-plane"><i class="fas fa-paper-plane"></i> </button>
          </form>
        </div>
      </div>
    
<script>
    // Set a JavaScript variable with the user.name value
    const username = "<%= user.name %>";
    const userID = "<%= user._id %>";
  </script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.2/qs.min.js" integrity="sha512-vCegEXqPUYpZsTGz2lk0jaQ1psxtFeniVJACAXhMVxuoYa/N4nZkjoVFOxLwP7uGeQOoemiz7DQrIpRTj4IBPw==" crossorigin="anonymous"></script>
<script type="module" src="./partials/Notifs.js"></script> 
<script src="personal.js"></script> 
<footer>Copyright 2022 </footer>
</body>
<%- include('partials/footer'); -%>