<%- include('partials/header'); -%>
      <header>
        <h1> Collababoard!</h1>
      </header>
      <form >
        <button  class="btn"><a href="/personalchat" >Private server</a></button>
      </form > 
      <form id="chat-form" action="/personalchat" method="get">
        <button  class="btn"><a href="/personalchat" >Chat to user</a></button>
      </form>
        <form action="/chat">
          <div class="form-control">
            <label for ="room"> Public collaboardation:</label>
             <input
              type = "text"
              name = "room"
              id="room"
              placeholder="Enter/Create Public Server"
              required
              />
              <div class="flex">
                <button type="submit" class="btn">Login to Chat</button>
              </div>
          </div>
        </form>
        <div class="friends-groups-container">
          <h2>Your Friends</h2>
          <ul class="friends-list">
            <!-- List of friends goes here -->
            <li>
              <button class="friend-button">Friend 1</button>
            </li>
            <li>
              <button class="friend-button">Friend 2</button>
            </li>
            <li>
              <button class="friend-button">Friend 3</button>
            </li>
            <!-- Add more friends as needed -->
          </ul>
    
          <h2>Your Groups</h2>
          <ul class="groups-list">
            <!-- List of groups goes here -->
            <li>
              <button class="group-button">Group 1</button>
            </li>
            <li>
              <button class="group-button">Group 2</button>
            </li>
            <li>
              <button class="group-button">Group 3</button>
            </li>
            <!-- Add more groups as needed -->
          </ul>
        </div>
      </main>
    </div>

   <script>
    // Set a JavaScript variable with the user.name value
    const username = "<%= user.name %>";
  </script>
   <script src="/socket.io/socket.io.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.2/qs.min.js" integrity="sha512-vCegEXqPUYpZsTGz2lk0jaQ1psxtFeniVJACAXhMVxuoYa/N4nZkjoVFOxLwP7uGeQOoemiz7DQrIpRTj4IBPw==" crossorigin="anonymous"></script>
  <script src="main.js"></script>
  <script src="partials/Notifs.js"></script> 
  <%- include('partials/footer'); -%>