@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Reset for Margin, Padding, and Font Styles */
body, h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

/* Global Styles */
body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #000000, #4400ff, #000000);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position:0% 50%;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navbar Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.btn {
  border-radius: 36px;
  background: #FEE996;
}

/* Form Styles */

form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

label {
  display: block;
  margin: 20px 0 10px;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

/* Header Styles */

header {
  display: flex;
  align-items: center;
}

header img {
  width: 250px;
  height: 250px; /* Set both width and height to create a perfect circle */
  margin-right: 40px;
  border: 4px solid #333; /* Dark outline */
  border-radius: 50%; /* Make it circular */
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

/* Recipes and Footer Styles (assuming these are used in specific sections) */

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px auto;
  max-width: 1200px;
}

.recipe {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
}

.recipe img {
  width: 100px;
  margin: -30px auto 20px;
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

/* Friends and Groups Styles */


.friends-groups-container h2 {
  font-size: 18px;
  margin-top: 10px;
}

.friends-list,
.groups-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friends-list li,
.groups-list li {
  margin: 5px 0;
}

.friend-button,
.group-button {
  background-color: #FEE996;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1em;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friend-button:hover,
.group-button:hover {
  background-color: #FFD700;
}



:root {
	--dark-color-a: #000000;
	--dark-color-b: #272728;
	--light-color: #b9b9b95e;
	--success-color: #65ce65;
	--error-color: #df3832;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body .chat {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
    border-radius: 4px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #a0a0a0;
	margin: 30px auto;
	overflow: hidden;

}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    background-image: url('../img/chat-bg.jpg');
    background-position: center;
    background-size: contain;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(145, 145, 145);
	border-radius: 5px;
}

.messageimg {
  float: left;
  max-width: 100%; /* Ensure images do not exceed the container width */
  max-height: 50px; /* Limit the image height to prevent excessive expansion */
  margin-top: 1px; /* Add space between messages and images */
  border-radius: 50%;
  margin-left: 1px;
  align-items: flex-start;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: white;
	opacity: 0.7;
	margin-bottom: 7px;
    display: flex;
}

.chat-messages .message .meta span {
	color: #ffffff;
    margin-left: auto;
}

.chat-name-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    background-image: url('../img/chat-bg.jpg');
    background-position: center;
    background-size: contain;
}

.chat-name-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(145, 145, 145);
	border-radius: 5px;
}

.chat-name-messages .messageimg {
	
	margin-bottom: 15px;
	background-color: rgb(145, 145, 145);
	border-radius: 5px;
}
.chat-name-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: white;
	opacity: 0.7;
	margin-bottom: 7px;
    display: flex;
}

.chat-name-messages .message .meta span {
	color: #ffffff;
    margin-left: auto;
}

.chat-form-container {
	padding: 5px 10px;
	background-color: var(--dark-color-b);
  margin-block: 1px;
}

.chat-form-container form {
	display: flex;
  padding: 5px 10px;
  padding-block: 2px;
  margin-left: 280px;
  width: 70%; /* Set width to 100% */
}

.chat-form-container input[type='text'] {
	border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 10px;
    height: 20px;
    flex: 1;
    outline: none;

}

.chat-name-form-container {
	padding: 5px 10px;
	background-color: var(--dark-color-b);
  margin-block: 1px;
}

.chat-name-form-container form {
	display: flex;
  padding: 5px 10px;
  padding-block: 2px;
  margin-left: 280px;
  width: 70%; /* Set width to 100% */
}

.chat-name-form-container input[type='text'] {
	border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 10px;
    height: 20px;
    flex: 1;
    outline: none;

}

button.btn-plane {
    width: 50px;
    border-radius: 50px;
    border: none;
    background:local;
    background-color:red;
    cursor: pointer;
}

i.fas.fa-paper-plane{
    font-size: 1.5rem;
    color: white;
    outline: none;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
  
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text']  {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
    border-radius: 3px;

}

.join-main input[type='email']  {
	font-size: 16px;
    border-radius: 3px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
    border: none;

}
.flex{
    display: grid;
    place-content: center;
}
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.google-btn {
  margin-top: 20px;
  margin-left: 50px ;
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px  #4285f4;
  }
  &:active {
    background: #1669F2;
  }
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* Style for the links inside the dropdown */
.notifications-content a {
  color: black;
  padding: 10px 16px; /* Slightly reduce padding for a more compact look */
  text-decoration: none;
  display: block;
  opacity: 0; /* Start with a 0 opacity for fade-in effect */
  transform: translateX(-10px); /* Move links to the left for fade-in effect */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add fade-in and transform transition */
  border-radius: 50px; /* Add some curvature to the links */
  background-color: #f1f1f1; /* Background color of the links container */
  border-color: #000000;
}


/* Change color of dropdown links on hover */
.notifications-content a:hover {
  background-color: #868585;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.notifications:hover a, .material-icons:hover a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}


.notifications-content {
  /* ... */
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  opacity: 0; /* Start with 0 opacity for fade-in effect */
  transform: translateY(-20px); /* Start with a slight vertical offset */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notifications-content.active {
  display: block;
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to the original position */
  animation: fadeIn 0.5s ease, pop 0.3s ease; /* Apply fade-in and pop animations */
}

.notifications-content:not(.active) {
  opacity: 0; /* Set opacity to 0 when not active */
  animation: fadeOut 0.3s ease forwards; /* Apply fade-out animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1); /* Normal scale */
  }
  50% {
    transform: scale(1.1); /* Scale up to 1.2x size */
  }
  100% {
    transform: scale(1); /* Back to normal scale */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0; /* Fade out */
    display: none; /* Hide after fading out */
  }
}

.notifications-content span {
  color: black;
  padding: 10px 16px; /* Slightly reduce padding for a more compact look */
  text-decoration: none;
  display: block;
  opacity: 0; /* Start with a 0 opacity for fade-in effect */
  transform: translateX(-10px); /* Move links to the left for fade-in effect */
  transition: opacity ease 0.3s, transform 0.3s ease; /* Add fade-in and transform transition */
  border-radius: 10px; /* Add some curvature to the links */
  background-color: #f1f1f1; /* Background color of the links container */
  border-color: #000000;
}

.notifications, .notif-icon {
  position: relative;
  display: inline-block;
}

.notifications span, .notif-icon a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 2px;
  padding: 10px 16px;
  margin-left: 10px;
  margin-top: 0;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.1s ease; /* Add a smooth transition */
}

.notif-icon {
  width: 30px; /* Adjust the width and height as needed */
  height: 30px;
  left: -8px;
  margin-top:5px;
  position: relative; /* Add this for proper positioning of the dropdown content */
  display: inline-block; /* Add this to make the profile picture inline */
}


/* Style for the profile picture itself */
.notif-icon-img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease; /* Add a smooth transition for the hover effect */
  z-index: 0; /* Ensure the profile picture is behind the online dot */
}

/* Hover effect on profile picture */
.notif-icon:hover .notif-icon-img {
  transform: scale(0.9); /* Scale up slightly on hover */
  opacity: 0.9 ;
}


.dropdown, .profile-picture {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown button text and profile picture text */
.dropdown a, .profile-picture a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 2px;
  padding: 10px 16px;
  margin-left: 10px;
  margin-top: 0;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.2s ease; /* Add a smooth transition */
}

/* Style for the dropdown content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px; /* Slightly reduce padding for a more compact look */
  text-decoration: none;
  display: block;
  opacity: 0; /* Start with a 0 opacity for fade-in effect */
  transform: translateX(-10px); /* Move links to the left for fade-in effect */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add fade-in and transform transition */
  border-radius: 10px; /* Add some curvature to the links */
  background-color: #f1f1f1; /* Background color of the links container */
  border-color: #000000;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #868585;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .profile-picture:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover a, .profile-picture:hover a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.profile-picture {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  border-radius: 50%; /* Creates a round shape */
  left: -10px;
  overflow: hidden;
  position: relative; /* Add this for proper positioning of the dropdown content */
  display: inline-block; /* Add this to make the profile picture inline */
}


/* Style for the profile picture itself */
.profile-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container */
  transition: transform 0.4s ease; /* Add a smooth transition for the hover effect */
  z-index: 0; /* Ensure the profile picture is behind the online dot */
}

/* Hover effect on profile picture */
.profile-picture:hover .profile-picture-img {
  transform: scale(1.1); /* Scale up slightly on hover */
}

.dropdown-content {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a soft edge */
  background-color: #f1f1f1;
  width: auto; /* Adjust the width as needed */
  left: -120px; /* Adjust the left positioning to move it more to the left */
}

.dropdown:hover #onlineStatusDot {
  transform: scale(1.05); /* Scale up slightly on hover */
  transition: transform 0.8s ease; /* Add a transition for the scale property */
}

.hover-container {
  display: none;
  /* Additional styling for the container */
}

/* Show the hover container on hover */
.message-img-container:hover .hover-container {
  display: block;
  /* Additional styling for the container when hovered */
}

.user-image-container {
  position: relative; /* Add this to enable absolute positioning for the user info container */
  float: left; /* Ensure proper positioning for child elements */
}

.roomuserimg {
  float: left;
  max-width: 100%; /* Ensure images do not exceed the container width */
  max-height: 60px; /* Limit the image height to prevent excessive expansion */
  margin-bottom: 200px;
  margin-top: -13px;
  border-radius: 50%;
  margin-left: -20px;
  align-items: flex-start;
  padding: 5px;
  position: inherit;
}

.roomuserimg:hover {
  transform: scale(1.1); /* Scale up slightly on hover */
  transition-duration: 0.8s;
  .user-info-container {
    display: block;
    position: relative;
    z-index: 1;
  }
}

.roomuserimg:hover + .user-image-container + .user-info-container {
  opacity: 1;
  max-width: 1000px;
  max-height: 1000px;
  position: absolute; /* Position it relative to the chat-sidebar */
  z-index: 1; /* Ensure it appears above other elements in the sidebar */
  transform: translateX(-100%); /* Position it to the left of the roomuserimg */
  display: block;
}


/* Style for the user info container (hidden by default) */
.user-info-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: #fff; /* Text color for the container */
  z-index: 9999; /* Ensure it's above other elements */
  text-align: center; /* Center text content vertically and horizontally */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width/height calculations */
}

/* Show the user info container when roomuserimg is hovered */
.user-image-container:hover + .user-info-container {
  opacity: 1;
  position: absolute; /* Position it relative to the chat-sidebar */
  z-index: 1; /* Ensure it appears above other elements in the sidebar */
  transform: translateX(-100%); /* Position it to the left of the roomuserimg */
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 10px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
    border-top: .7px solid;
    border-bottom: .7px solid;
}

.chat-sidebar::-webkit-scrollbar {
    width: 1em;
}

 
.chat-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat-sidebar::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Set your desired color */
  border-radius: 5px; /* Add a rounded shape to the thumb */
  border: 2px solid #fff; /* Add a border around the thumb */
}

.notifications:hover #notificationdot {
  transform: scale(0.8); /* Scale up slightly on hover */
}

#notificationdot {
  position: absolute;
  top: 3px; /* Adjust vertical position as needed */
  right: 4px; /* Adjust horizontal position as needed */
  width: 18px; /* Adjust size as needed */
  height: 18px; /* Adjust size as needed */
  background-image: linear-gradient(45deg, rgb(117, 1, 1), #ff2f00);
  border: 2px ridge #3a3a3a;
  border-radius: 50%; /* Rounded dot */
  color: rgb(0, 0, 0); /* Text color */
  font-size: 16px; /* Text font size */
  text-align: center; /* Center text */
  line-height: 15px; /* Vertically center text */
  z-index: 1;
  display: none; /* Initially hide the dot */
  transform: scale(1); /* Initial scale, no scaling */
  transition: transform 0.3s ease; /* Add a transition for the scale property */
  -webkit-text-stroke: 1px rgb(255, 255, 255); /* Text border */
}

.notifications:hover #notificationdot {
  transform: scale(0.8); /* Scale up slightly on .notifications hover */
}

/* Room Container */
.roomcontainer {
  display: grid;
  height: fit-content;
  margin-top: 0%;
  position: relative;
  top: -75px;
}

/* Friends Container */
.friends-groups-container {
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  flex: 1;
  float: left;
  background-color: #f0f0f0; /* Light gray */
  padding: 10px;
  border: 1px solid #CCCCCC; /* Slightly darker gray */
  border-radius: 10px;
  margin-top: 10px;
  width: 270px;
  height: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Room Creation Container */
.roomcreationcontainer {
  display: flex;
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  flex: 0;
  flex-direction: row;
  padding: 30px;
  background-color: #E0E0E0; /* Slightly darker gray */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 270px;
  top: 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  z-index: 1;
}

/* Form Container */
form {
  display: block;
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275, 1, 0.3s ease);
  transform-origin: center;
  float: top;
  flex-direction:inherit; /* Display forms vertically */
  padding: 10px;
  background-color: #F0F0F0; /* Light gray */
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: fit-content;
  font-size: smaller;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transform: scale(0.8);
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

/* Button Styles */
.btn {
  animation: popUp 0.5s ease-in-out;
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 30px;
  background: #E5E5E5; /* Light gray, scientifically soothing color */
  background-color: #F0F0F0; /* Light gray */
  width: auto;
  height:auto;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  color: #333;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: auto;
  margin: auto;
  font-size:x-large;
}

/* Form Styles */
form h2 {
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  flex-direction: row;
  float: left;
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

input {
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #D3D3D3; /* Light gray border */
  font-size: 1em;
  width: 100%;
  transition: border-color 0.3s ease;
  border-color: #CCCCCC; /* Slightly darker gray border */
  color: #333;
  cursor: pointer;
}

label {
  animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  display: block;
  margin: 20px 0 10px;
  color: #333;
  cursor: pointer;
}

/* Hover and Focus Styles */
.friends-groups-container:hover {
  background-color: #CCCCCC; /* Light gray on hover */
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.roomcreationcontainer:hover {
  background-color: #F7F7F7; /* Light gray on hover */
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

form:hover {
  background-color: #CCCCCC; /* Light gray on hover */
  transform: scale(0.85);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: #000;
}

.btn:hover {
  background: #CCCCCC; /* Light gray on hover */
  transform: scale(0.95);
  color: #000;
}

form:focus {
  outline: none;
  border-color: #FEE996;
  background-color: #FEE996; /* Yellow background on focus */
}

/* Click Animations */
.friends-groups-container:active {
  transform: scale(0.98);
}

.roomcreationcontainer:active {
  transform: scale(0.98);
}

form:active {
  transform: scale(0.75);
}

.btn:active {
  transform: scale(0.9);
  background-color: #CCCCCC; /* Light gray on click */
  color: #000;
}

/* Custom Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.cursor {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent; /* Set the background color to white */
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, border-color 0.2s, opacity 0.2s;
  mix-blend-mode:hard-light;
  transition-timing-function: ease-out; /* Make cursor move slower */
  border-color: #fff;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  opacity: 0.5;
}

.inner-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.click {
  transform: translate(-50%, -50%) scale(0.8);
  border-color: #fff;
  opacity: 0.7;
}

.cursor.active {
  transform: translate(-50%, -50%) scale(1.5);
  border-color: #fff;
  opacity: 0.3;
}

.cursor.active.click {
  transform: translate(-50%, -50%) scale(0.8);
  border-color: #fff;
  opacity: 0.7;
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

:root {
  --scrollbar-start-color: #6b6b6b; /* Start color of the gradient */
  --scrollbar-end-color: #474747; /* End color of the gradient */
}

/* Keyframes animation for the gradient effect */
@keyframes gradient {
  0%, 100% {
    --scrollbar-start-color: #ff9900;
    --scrollbar-end-color: #6d6c6b;
  }
  50% {
    --scrollbar-start-color: #ff6600;
    --scrollbar-end-color: #ff3300;
  }
}

/* Apply the gradient effect to the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-start-color);
  animation: gradient 5s linear infinite alternate; /* Apply the gradient animation */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-end-color);
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  transform: scale(1.2); /* Scale up slightly on hover */
}

.error {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure the error container is on top */
}

.error-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.error-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.error-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
}

.Chat-Bot{
  position:absolute;
  height: 0px;
  display: inline-block;
  bottom: 100px;
  width: 100%;
  left: 900px;
}

#bot-entering{
  position:absolute;
  height: fit-content;
  display: none;
  bottom: -80px;
  width: 50%;
  left: 60px;
}