@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Reset for Margin, Padding, and Font Styles */
body, h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

/* Global Styles */
body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navbar Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.btn {
  border-radius: 36px;
  background: #FEE996;
}

/* Form Styles */

form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

label {
  display: block;
  margin: 20px 0 10px;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

/* Header Styles */

header {
  display: flex;
  align-items: center;
}

header img {
  width: 250px;
  height: 250px; /* Set both width and height to create a perfect circle */
  margin-right: 40px;
  border: 4px solid #333; /* Dark outline */
  border-radius: 50%; /* Make it circular */
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

/* Recipes and Footer Styles (assuming these are used in specific sections) */

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px auto;
  max-width: 1200px;
}

.recipe {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
}

.recipe img {
  width: 100px;
  margin: -30px auto 20px;
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

/* Friends and Groups Styles */

.friends-groups-container {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.friends-groups-container h2 {
  font-size: 18px;
  margin-top: 10px;
}

.friends-list,
.groups-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friends-list li,
.groups-list li {
  margin: 5px 0;
}

.friend-button,
.group-button {
  background-color: #FEE996;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1em;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friend-button:hover,
.group-button:hover {
  background-color: #FFD700;
}

.dropbtn {
 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
    margin-left: 10px; /* Adjust the left margin to move it to the right */
    margin-top: 0px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7f8e3e;}

:root {
	--dark-color-a: #000000;
	--dark-color-b: #272728;
	--light-color: #b9b9b95e;
	--success-color: #65ce65;
	--error-color: #df3832;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body .chat {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
    border-radius: 4px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #a0a0a0;
	margin: 30px auto;
	overflow: hidden;

}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
    border-top: .7px solid;
    border-bottom: .7px solid;
}

.chat-sidebar::-webkit-scrollbar {
    width: 1em;
}

 
.chat-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat-sidebar::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Set your desired color */
  border-radius: 5px; /* Add a rounded shape to the thumb */
  border: 2px solid #fff; /* Add a border around the thumb */
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    background-image: url('../img/chat-bg.jpg');
    background-position: center;
    background-size: contain;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(145, 145, 145);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: white;
	opacity: 0.7;
	margin-bottom: 7px;
    display: flex;
}

.chat-messages .message .meta span {
	color: #ffffff;
    margin-left: auto;
}

.chat-name-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    background-image: url('../img/chat-bg.jpg');
    background-position: center;
    background-size: contain;
}

.chat-name-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(145, 145, 145);
	border-radius: 5px;
}

.chat-name-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: white;
	opacity: 0.7;
	margin-bottom: 7px;
    display: flex;
}

.chat-name-messages .message .meta span {
	color: #ffffff;
    margin-left: auto;
}

.chat-form-container {
	padding: 5px 10px;
	background-color: var(--dark-color-b);
  margin-block: 1px;
}

.chat-form-container form {
	display: flex;
  padding: 5px 10px;
  padding-block: 2px;
  margin-left: 280px;
  width: 70%; /* Set width to 100% */
}

.chat-form-container input[type='text'] {
	border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 10px;
    height: 20px;
    flex: 1;
    outline: none;

}

.chat-name-form-container {
	padding: 5px 10px;
	background-color: var(--dark-color-b);
  margin-block: 1px;
}

.chat-name-form-container form {
	display: flex;
  padding: 5px 10px;
  padding-block: 2px;
  margin-left: 280px;
  width: 70%; /* Set width to 100% */
}

.chat-name-form-container input[type='text'] {
	border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 10px;
    height: 20px;
    flex: 1;
    outline: none;

}

button.btn-plane {
    width: 50px;
    border-radius: 50px;
    border: none;
    background:local;
    background-color:red;
    cursor: pointer;
}

i.fas.fa-paper-plane{
    font-size: 1.5rem;
    color: white;
    outline: none;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text']  {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
    border-radius: 3px;

}

.join-main input[type='email']  {
	font-size: 16px;
    border-radius: 3px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
    border: none;

}
.flex{
    display: grid;
    place-content: center;
}
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}