
<div class="cursor"></div>
<div class="inner-dot"></div>
<div class="Chat Bot">
  <button  class="btn" id="bot-formbutton">🤖</button>
  <form  id="bot-entering">
    <div class="former-control" >
      <label for ="group"> Recommended Groups </label>
       <input
        type = "text"
        name = "GroupID"
        id="GroupID"
        placeholder="Enter a url"
        required
        />
    
        <div class="flex">
          <button type= "submit" class="btn">+</button>
        </div>
    </div>
  </form >
</div>
<footer>Copyright 2022 </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script >
 
const cursor = document.querySelector('.cursor');
const innerDot = document.querySelector('.inner-dot');
const botButton = document.getElementById("bot-formbutton");
const botForm = document.getElementById("bot-entering");

let isPersonalFormVisible = false;
  let isPublicFormVisible = false;

  botButton.addEventListener("click", () => {
    if (isPersonalFormVisible) {
      // If the personal form is visible, hide it
      botForm.style.display = "none";
    } else {
      // If the personal form is hidden, show it
      botForm.style.display = "block";

document.getElementById('bot-entering').addEventListener('submit', async function (e) {
  e.preventDefault(); // Prevent the default form submission
  
  // Get the form data
  const formData = new FormData(this);

  try {
            const res = await fetch('/chatpost', { 
                method: "POST",
                body: JSON.stringify({ formData }), // passing data from the input values to the signup POST function
                headers: { "Content-Type" : "application/json"}
            })} 
         catch (err) {
            console.log(err)
        }
      })
  }
})

document.addEventListener('mousemove', (e) => {
  setTimeout(() => {
    cursor.style.transition = 'transform 0.5s ease-out';
    const x = e.clientX + window.scrollX; // Adjust for horizontal scroll
    const y = e.clientY + window.scrollY; // Adjust for vertical scroll
    cursor.style.left = `${x}px`;
    cursor.style.top = `${y}px`;
  }, 100);

  setTimeout(() => {
    innerDot.style.transition = 'transform 0.2s ease-out';
    const x = e.clientX + window.scrollX; // Adjust for horizontal scroll
    const y = e.clientY + window.scrollY; // Adjust for vertical scroll
    innerDot.style.left = `${x}px`;
    innerDot.style.top = `${y}px`;
  }, 50);
});

document.addEventListener('click', () => {
  cursor.classList.add('click');
  setTimeout(() => {
    cursor.classList.remove('click');
  }, 200);
});
</script>
</html>